
    <nav>
        <button onclick="window.scrollTo({top: 0, behavior: `smooth` })">▲</button>
        <a href="/"><button>Home</button></a>
        <a href="/#spells"><button>Spells</button></a>
        <a href="/#potions"><button>Potions</button></a>
    </nav>
